p {
    color: blue;
    font-size: 20pt;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

a {
    color: aqua;
}

h1 {
    color: magenta;
}

img {
    height: 100px;
}

button {
    background-color: dodgerblue;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
}

input {
    border-radius: 8%;
    border-color: blueviolet;
    color: royalblue
}